body {
    background-image: url('../images/flame.jpg');
    background-repeat: no-repeat;
    color: white;
}

#chatbox {
    color: black;
    overflow: hidden;
}

#messages {
    height: 400px;
    overflow: auto;
}